.container {
  width:100vw;
  display:grid;
  grid-template-areas: 'gallery description'
                        'price contacts';
  background-color:rgb(242,242,242);
}

.gallery {
  grid-area: gallery;
  display:flex;
  width:50vw;
}

.photosIcons {
  background-color: rgba(0,0,0,0.6);
  color:white;
  position:absolute;
  margin: 3px;
  padding:6px;
  border-radius:2px;
}

.galleryImg {
  width:25vw;
}

.descriptionBox {
  grid-area: description;
  width:50vw;
}

.likeButton {
  right:0;
  position:absolute;
  padding:16px;
  border:2px solid lightgrey;
  border-radius:50%;
}

.likeButton i {
  color:magenta;
}

.priceBox {
  grid-area:price;
  width:50vw;
}

.contactsBox {
  grid-area:contacts;
  display:flex;
  width:50vw;
}

.contactsBox div {
  padding:10px;
}

.agentLogo {
  height:60px;
}

.phoneNumber






.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}